## Stock Market Performance and Public Sentiment

#### Capstone Project - CKME 136

In [1]:
import pandas as pd
import os as os

### Data Cleaning

In [2]:
pwd

'C:\\Users\\nicholas1.wright\\Downloads'

In [3]:
os.chdir('C:\\Users\\nicholas1.wright\\Documents\\Capstone_Files')

#### Merge Yahoo Finance data into one csv file

In [4]:
df1 = pd.read_csv('Dow_Jones.csv')
df2 = pd.read_csv('NASDAQ.csv')
df3 = pd.read_csv('NYSE.csv')
df4 = pd.read_csv('S_P.csv')
df5 = pd.read_csv('TSX_S_P.csv')

#### Add in Exchange Name to dataframes

In [5]:
df1['Exchange_Name'] = 'Dow Jones'
df2['Exchange_Name'] = 'NASDAQ'
df3['Exchange_Name'] = 'NYSE'
df4['Exchange_Name'] = 'S&P'
df5['Exchange_Name'] = 'TSX/S&P'

In [6]:
df5.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Exchange_Name
0,2015-01-02,14637.299805,14756.299805,14631.400391,14753.700195,14753.700195,132965800,TSX/S&P
1,2015-01-05,14709.000000,14709.000000,14339.500000,14392.700195,14392.700195,224213600,TSX/S&P
2,2015-01-06,14368.099609,14370.400391,14162.000000,14246.799805,14246.799805,273374500,TSX/S&P
3,2015-01-07,14324.400391,14427.400391,14265.700195,14285.000000,14285.000000,234522600,TSX/S&P
4,2015-01-08,14368.599609,14506.099609,14368.599609,14457.700195,14457.700195,225812700,TSX/S&P

In [7]:
stockdata = pd.concat([df1, df2, df3, df4, df5], axis = 0, join = 'inner')

In [8]:
stockdata.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Exchange_Name
0,2015-01-02,17823.070313,17951.779297,17731.300781,17832.990234,17832.990234,76270000,Dow Jones
1,2015-01-05,17821.300781,17821.300781,17475.929688,17501.650391,17501.650391,116160000,Dow Jones
2,2015-01-06,17504.179688,17581.050781,17262.369141,17371.640625,17371.640625,101870000,Dow Jones
3,2015-01-07,17374.779297,17597.080078,17374.779297,17584.519531,17584.519531,91030000,Dow Jones
4,2015-01-08,17591.970703,17916.039063,17591.970703,17907.869141,17907.869141,114890000,Dow Jones

In [9]:
stockdata.Exchange_Name.unique()

array(['Dow Jones', 'NASDAQ', 'NYSE', 'S&P', 'TSX/S&P'], dtype=object)

#### Merge News Headline data into one csv file

In [17]:
ndf1 = pd.read_csv('articles1.csv')
ndf2 = pd.read_csv('articles2.csv')
ndf3 = pd.read_csv('articles3.csv')

In [18]:
news_headlines = pd.concat([ndf1, ndf2, ndf3], axis = 0, join = 'outer')

In [19]:
news_headlines.head()

,Unnamed: 0,id,title,publication,author,date,year,month,url,content
0,0,17283,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,NaN,WASHINGTON — Congressional Republicans have...
1,1,17284,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,NaN,"After the bullet shells get counted, the blood..."
2,2,17285,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,NaN,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,3,17286,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,NaN,"Death may be the great equalizer, but it isn’t..."
4,4,17287,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,NaN,"SEOUL, South Korea — North Korea’s leader, ..."

In [21]:
len(news_headlines.title)

142570

In [22]:
news_headlines.title.nunique()
# Note that some duplicates exist - Dig deeper after further cleaning.

142132

In [23]:
news_headlines.drop(['Unnamed: 0','url','id'], axis = 1, inplace = True)

In [24]:
news_headlines.head()

,title,publication,author,date,year,month,content
0,House Republicans Fret About Winning Their Hea...,New York Times,Carl Hulse,2016-12-31,2016.0,12.0,WASHINGTON — Congressional Republicans have...
1,Rift Between Officers and Residents as Killing...,New York Times,Benjamin Mueller and Al Baker,2017-06-19,2017.0,6.0,"After the bullet shells get counted, the blood..."
2,"Tyrus Wong, ‘Bambi’ Artist Thwarted by Racial ...",New York Times,Margalit Fox,2017-01-06,2017.0,1.0,"When Walt Disney’s “Bambi” opened in 1942, cri..."
3,"Among Deaths in 2016, a Heavy Toll in Pop Musi...",New York Times,William McDonald,2017-04-10,2017.0,4.0,"Death may be the great equalizer, but it isn’t..."
4,Kim Jong-un Says North Korea Is Preparing to T...,New York Times,Choe Sang-Hun,2017-01-02,2017.0,1.0,"SEOUL, South Korea — North Korea’s leader, ..."

#### Check and alter data types

In [10]:
stockdata.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3772 entries, 0 to 751
Data columns (total 8 columns):
Date             3772 non-null object
Open             3772 non-null float64
High             3772 non-null float64
Low              3772 non-null float64
Close            3772 non-null float64
Adj Close        3772 non-null float64
Volume           3772 non-null int64
Exchange_Name    3772 non-null object
dtypes: float64(5), int64(1), object(2)
memory usage: 265.2+ KB

In [25]:
news_headlines.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 142570 entries, 0 to 42570
Data columns (total 7 columns):
title          142568 non-null object
publication    142570 non-null object
author         126694 non-null object
date           139929 non-null object
year           139929 non-null float64
month          139929 non-null float64
content        142570 non-null object
dtypes: float64(2), object(5)
memory usage: 8.7+ MB

In [26]:
stockdata.Date = pd.to_datetime(stockdata.Date)
news_headlines.date = pd.to_datetime(news_headlines.date)
news_headlines.year = pd.to_numeric(news_headlines.year, downcast = 'integer')
news_headlines.month = pd.to_numeric(news_headlines.month, downcast = 'integer')

In [13]:
stockdata = stockdata.sort_values('Date')

In [14]:
stockdata.head()

,Date,Open,High,Low,Close,Adj Close,Volume,Exchange_Name
0,2015-01-02,17823.070313,17951.779297,17731.300781,17832.990234,17832.990234,76270000,Dow Jones
0,2015-01-02,10859.799805,10889.250000,10770.509766,10830.919922,10830.919922,2708700000,NYSE
0,2015-01-02,14637.299805,14756.299805,14631.400391,14753.700195,14753.700195,132965800,TSX/S&P
0,2015-01-02,4760.240234,4777.009766,4698.109863,4726.810059,4726.810059,1435150000,NASDAQ
0,2015-01-02,2058.899902,2072.360107,2046.040039,2058.199951,2058.199951,2708700000,S&P

#### Read Stock Data to csv

In [15]:
stockdata.to_csv('Stock_Data.csv', index = False)

#### Remove Columns with no date

In [27]:
news_headlines = news_headlines.sort_values('date', na_position='first')

In [28]:
news_headlines.dropna(inplace = True)

In [29]:
news_headlines.head(15)

,title,publication,author,date,year,month,content
5030,How Nirvana’s ’Smells Like Teen Spirit’ Became...,NPR,Guy Raz,2000-05-15,2000.0,5.0,"In the early 1990s, Seattle stood at the cente..."
8304,David Bowie On The Ziggy Stardust Years: ’We W...,NPR,NPR Staff,2003-09-19,2003.0,9.0,It’s been more than 40 years since David Bowie...
21798,Liberals’N’Lawsuits,National Review,Neil Gorsuch,2005-02-07,2005.0,2.0,"Editor’s Note: This article, originally publis..."
5285,Always Go To The Funeral,NPR,Deirdre Sullivan,2005-08-08,2005.0,8.0,I believe in always going to the funeral. My f...
9865,A Timeline Of Radovan Karadzic,NPR,Corey Flintoff,2008-07-22,2008.0,7.0,Former Bosnian Serb leader Radovan Karadzic wa...
15075,The Moscone-Milk Anniversary — And Legacy,NPR,Richard Gonzales,2008-11-26,2008.0,11.0,"Thirty years ago Friday, a shocking announceme..."
11229,I Am Still The Greatest,NPR,"Muhammad Ali, read by his wife, Lonnie Ali",2009-04-06,2009.0,4.0,"I have always believed in myself, even as a yo..."
13206,"Lizard Starvation, Extinction Tied To Climate ...",NPR,Christopher Joyce,2010-05-13,2010.0,5.0,Scientists who study lizards say many local po...
2216,General David Petraeus faints during grilling ...,Guardian,Ewen MacAskill,2010-06-15,2010.0,6.0,"America’s top commander, General David Petraeu..."
9168,"50 Years On, ’Mockingbird’ Still Sings America...",NPR,Lynn Neary,2010-07-07,2010.0,7.0,"Fifty years ago, Harper Lee had the kind of su..."
46092,Porpoises rescue Dick Van Dyke,Guardian,Xan Brooks,2010-11-11,2010.0,11.0,"On screen, Dick Van Dyke has been rescued from..."
11231,"Float Like a Snagriff, Sting Like a Fish-Snake...",NPR,Glen Weldon,2010-11-17,2010.0,11.0,(Note: A Snagriff’s a Kryptonian flying dragon...
25889,Back to the Future with Peter Thiel,National Review,NR Interview,2011-01-20,2011.0,1.0,Editor’s Note: Peter Thiel will speak at the R...
4846,The Dark Origins Of Valentine’s Day,NPR,Arnie Seipel,2011-02-13,2011.0,2.0,Valentine’s Day is a time to celebrate romance...
5898,Adele,NPR,Stephen Thompson,2011-02-17,2011.0,2.0,There’s no one way to define a great voice: Ge...

In [30]:
news_headlines.title.count()

125010

In [31]:
removal = (142132 - 125010)
print(str(removal) + ' articles have been removed because of their lack of date.')

17122 articles have been removed because of their lack of date.

#### Check and remove duplicates

In [32]:
duplicates = news_headlines.duplicated(subset = ['title', 'author', 'publication'], keep = 'first')
pd.value_counts(duplicates)

False    124690
True        320
dtype: int64

In [33]:
news_headlines = news_headlines[duplicates == False]

In [34]:
news_headlines.title.nunique()

124671

#### Read News Dataset to csv

In [35]:
news_headlines.to_csv('news_headlines.csv', index = False)